<div class="nav-container">
    <nav class="cast-shadow">
        <div class="title-div">
            <h1 class="title">{{title}}</h1>
        </div>
        <div class="nav-links">
            <ul class="nav-links-ul">
                <li class="nav-links-ul-li" >
                    <a class="nav-links-ul-li-a" routerLink = "classroom-component" routerLinkActive = "active">Layout</a>
                </li>
                <li class="nav-links-ul-li" >
                    <a class="nav-links-ul-li-a" routerLink = "students-component" routerLinkActive = "active">Students</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- started working on router -->
<router-outlet></router-outlet>
<!-- <app-students></app-students>
<app-classroom (valueEvent)="receiveValue($event)" [value] ="message"[row]=9 [column]=7 ></app-classroom> -->
