<div class="div-insert">
    <div class="div-div-insert">
        <div class="div-insert-inner">
            <div class="div-insert-inner-inputs">
                <div class="div-insert-rowscols">
                    <!-- p and input -->
                    <p class="insert-p upper-text">Rows:</p>
                    <input [(ngModel)]="row" class="insert-input input" title="Number of rows" placeholder="1-9" (ngModelChange)="rowChange($event)">
                </div>
                <div class="div-insert-rowscols">
                    <!-- p and input -->
                    <p class="insert-p upper-text">Columns:</p>
                    <input [(ngModel)]="column" class="insert-input input" title="Number of columns" placeholder="1-9" (ngModelChange)="columnChange($event)">
                </div>
            </div>
            <div class="div-assign-button">
                <button class="assign-button" (click)="assignStudents()">Assign</button>
            </div>
        </div>
        <div class="div-select-rows">
            <p class="select-rows upper-text">Select rows: </p>
            <input  [(ngModel)]="value" class="select-rows-input input" title="Rows that are selected in the table" id="rowSelectorInput" placeholder="1,2,3-5,7-9" (ngModelChange)="selectChange($event,false)" (keydown)="keyDown($event)" (blur)="lostFocus()" onclick=" let value = this.value; this.value = null; this.value=value">
        </div>
        <div *ngIf="isVisible" class="div-alert">
            <p class="alert">{{issue}}</p>
        </div>
    </div>
</div>
<!-- Classroom: -->
<div class="div-classroom-table">
    <table class="classroom-table">
        <thead class="classroom-table-head">
            <tr class="classroom-table-head-tr">
                <th class="classroom-table-head-tr-td"></th>
                <th class="column-number" *ngFor="let col of columns; let i = index">C{{i+1}}</th>
            </tr>
        </thead>
        <tbody class="classroom-table-body">
            <tr class="classroom-table-body-tr" *ngFor="let row of rows; let i = index" [ngClass]="{'selected': checkIsRowSelected(i),'too-big':checkNumberOfCols()}" (click)="rowClicked(i+1)">
                <td class="row-number">{{i+1}}</td> 
                <td class="classroom-table-body-tr-td" *ngFor="let col of columns" >
                    <div [style.width.vw]="widthOfCol" class="desk-div">
                        <div [innerHTML]="assigner.assignedStudents[row+1][col]" class="desk" *ngIf = "afterAssign"></div>
                    </div>
                </td>
            </tr>
        </tbody>
  </table>
</div>



